<h1>Editing light novel</h1>

<%= render "form", light_novel: @light_novel %>

<br>

<div>
  <%= link_to "Show this light novel", @light_novel %> |
  <%= link_to "Back to light novels", light_novels_path %>
</div>
