<h1>New Light Novel</h1>

<div class="form-container">
  <%= render 'form', light_novel: @light_novel %>
</div>

<div class="actions" style="text-align: center; margin-top: 10px;">
  <%= link_to 'Back', light_novels_path, class: 'actions' %>
</div>
